/******************************************************************************
						Home Page Slider
*******************************************************************************/
#homepage-slider {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 14px;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  float: left;
  /*****************************************************************************
  						BXSlider Styles
  ********************************************************************************/
}
@media (max-width: 767px) {
  #homepage-slider {
    width: 100%;
    max-width: 100%;
    padding-top: 0px;
  }
}
#homepage-slider #homeslider {
  margin: 0 auto;
  padding: 0;
}
#homepage-slider .homeslider-container {
  position: relative;
}
#homepage-slider .homeslider-image {
  position: absolute;
  left: 0;
  top: 0;
}
#homepage-slider .homeslider-description {
  position: absolute;
  left: 0;
  top: 0;
  padding: 50px 50px;
  cursor: pointer;
}
#homepage-slider .homeslider-description h2 {
  font-size: 2.7em;
  color: white;
  margin: 0;
  padding: 0;
}
#homepage-slider .homeslider-description p {
  width: 50%;
  font-size: 1.15em;
  line-height: 1.3em;
  padding: 0.5em 0;
  color: white;
}
#homepage-slider .homeslider-description button {
  font-size: 1.2em;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  #homepage-slider .homeslider-description {
    padding: 20px;
    font-size: 0.8em;
  }
}
@media (max-width: 768px) {
  #homepage-slider .homeslider-description {
    padding: 30px;
    font-size: 0.7em;
  }
  #homepage-slider .homeslider-description p {
    font-size: 1.5em;
  }
}
@media (max-width: 480px) {
  #homepage-slider .homeslider-description {
    padding: 30px;
    font-size: 0.5em;
  }
  #homepage-slider .homeslider-description p {
    font-size: 1.7em;
  }
}
#homepage-slider .homeslider-description .title__h2 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 1.1;
  font-size: 2.7em;
  color: white;
  margin: 0;
  padding: 0;
}
#homepage-slider .bx-wrapper a {
  display: block;
}
#homepage-slider .bx-wrapper img {
  height: auto;
}
#homepage-slider .bx-wrapper .bx-viewport {
  width: 100%;
  direction: ltr !important;
}
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager {
  bottom: 0;
}
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a.active {
  background-color: #89ba17;
}
@media (max-width: 767px) {
  #homepage-slider .bx-controls-direction {
    display: none;
  }
}
#homepage-slider .bx-controls-direction button {
  animation: directionButtonDeactivate 0.6s;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  top: auto;
  margin-top: 0px;
  font-size: 1em;
  bottom: 10px;
  opacity: 0.4;
  outline: 0;
  width: 52px;
  height: 52px;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.6);
  line-height: 18px;
}
#homepage-slider .bx-controls-direction button:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
#homepage-slider:hover .bx-controls-direction button {
  animation: directionButtonActivate 0.6s;
  opacity: 1;
}
#homepage-slider .btn-bx-prev {
  right: 60px;
  left: auto;
}
#homepage-slider .btn-bx-next {
  right: 10px;
}

.ie8 #homepage-slider .bx-wrapper .bx-controls-direction a:before {
  background: #333;
}

@keyframes directionButtonActivate {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes directionButtonDeactivate {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}